* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   font-family: "Poppins", sans-serif; 
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(Forest.jpg);
    background-size: cover;
    background-position: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: transparent;
    border-bottom: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(7.75px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo {
    font-size: 2em;
    color: #fff;
    user-select: none;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;
    transition: .5s;
}

.navigation a:hover:after {
    transform: scaleX(1);
    transform-origin: left;
}

.navigation .btnLogin-popup {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogin-popup:hover {
    background: #fff;
    color: #162938;
}

.navigation .btnLogout {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .btnLogout:hover {
    background: #fff;
    color: #162938;
}


.wrapper {
    position: relative;
    width: 500px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(8.75px);
    border-radius: 25px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease, height .2s ease;
    overflow: hidden;
    transform: scale(0);
}

.wrapper.active-popup {
    transform: scale(1);
}

.wrapper.active {
    height: 530px;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.wrapper .form-box.Login {
    transition: transform .18s ease;
    transform: translateX(0);
} 

.wrapper.active .form-box.login {
    transition: none;
    transform: translateX(-500px);
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: translateX(500px);
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: translateX(0);
}

.form-box h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    height: 50px;
    font-size: 3em;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.wrapper .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 25px 45px 25px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.wrapper .input-box i {
    position: absolute;
    right: 15px;
    font-size: 25px;
    line-height: 54px;
}

.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: 0px 0 20px;
}

.remember-forgot label input {
    accent-color: #ffffff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 50px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor:pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .Login-register {
    font-size: 15.5px;
    text-align: center;
    margin-top: 25px;
    padding-bottom: 20px;
}

.Login-register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.Login-register p a:hover {
    text-decoration: underline;
}

.response-box {
    position: fixed; /* Fixed position to keep it in place */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the box */
    background: rgba(51, 51, 51, 0.8); /* Semi-transparent background */
    border: 2px solid rgba(255, 255, 255, .2);
    padding: 65px 85px;
    border-radius: 10px;
    z-index: 1000; /* Make sure it appears on top */
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Add space between the button and message */
}

.response-box.success {
    border-color: green;  /* Erfolgreiche Nachrichten grün */
}

.response-box.error {
    border-color: red;  /* Fehlerhafte Nachrichten rot */
}

#close-btn {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 34px;
    cursor: pointer;
    color: #fff;
}

#close-btn:hover {
    color: #ccc; /* Lighten color on hover */
}

.retry-btn {
    position: absolute;
    bottom: 5px; /* Abstand vom unteren Rand */
    right: 5px;  /* Abstand vom rechten Rand */
    background: #fff;
    color: #333;
    border: none;
    padding: 5px 10px;
    border: 3px solid(#333);
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.retry-btn:hover {
    background: #f0f0f0;
}
